
/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*-- bluish color background --*/
.primary-bg-color{
    background-color: #158DCC;
}
/*-- greenish color background --*/
.secondary-bg-color{
    background-color: #afcb36;
}
/*-- bluish button color background --*/
.primary-btn-bgcolor{
    background-color: #158DCC;
}
/*-- greenish button color background --*/
.secondary-btn-bgcolor{
    background-color: #afcb36;
}


/*-- Custom CSS --*/

.left-sidebar-content .brand-sidebar {
    background: #158DCC !important;
}

.left-sidebar-content .brand-sidebar .logo-wrapper a.brand-logo {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}
.left-sidebar-content .brand-sidebar .logo-wrapper a.brand-logo img {
    height: auto;
    width: 100%;
}


/* Custom Admin Panel*/
ul#slide-out li ul.collapsible li:first-child a:after {
    display: none;
}

ul#slide-out li ul.collapsible li:last-child a:after {
    display: none;
}
/* Custom Admin Panel*/
.dataTables_wrapper .waves-effect{
    display: inline-block;
    padding: 0 10px;
}
.dataTables_wrapper .waves-effect i{
    font-size:16px;
}
.dataTables_wrapper .form-inline{
    display: inline-block;
}

.dataTables_wrapper .btn.red{
    padding: 0 11.5px;
}
.dataTables_wrapper .btn.red i{
    font-size: 16px;
}
.box-image img{
    max-width: 100%;
    width: auto;
    height: 150px;
    object-fit: cover;
}

h6.custom-label {
    color: #9e9e9e;
    padding-bottom: 10px;
}



.adrs-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.custom-radio-btn {
    position: relative;
    margin: 1.7rem 0;
}
.appendable-filed {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 100%;

    padding: 15px 0;
}
.top-bordered{
    border-top: 1px solid #9e9e9e;
}
.remove-append {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    text-align: center;
    line-height: 15px;
    border-radius: 100%;
    font-size: 10px;
}
.logout-btn{
    width: 100%;
    font-weight: 400 !important;
}
ul.side-nav .collapsible-header.logout-btn:after {
   display: none !important;
}
button i.material-icons {
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
}
.collapsible-header.drop-down-logout-btn{
    width: 100%;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

.nav-wrapper .drop-down-logout-btn i {
    height: 25px;
    line-height: 25px;
}
.order-user-detail li {
    margin: 5px 0;
    font-size: 14px;
}
.order-user-detail li strong {
    font-weight: 700;
    margin-right: 15px;
    text-transform: capitalize;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
#chart {
    padding: 20px;
}

#chartTable {
    width: 100%;
    height: 400px;
}

.charttitle {
    text-align: center;
}

.bars td {
    vertical-align: bottom;
}

.bars div:hover {
    opacity: 0.6;
}

.legend {
    vertical-align: bottom;
    padding-left: 20px;
    text-align: left;
}

.legbox {
    display: block;
    clear: both;
}

.xaxisname {
    margin: 5px;
    color: #fff;
    font-size: 77%;
    padding: 5px;
    float: left;
}


/*Flat UI colors*/

.one {
    background: #16A085;
}

.two {
    background: #2ECC71;
}

.three {
    background: #27AE60;
}

.four {
    background: #3498DB;
}

.five {
    background: #2980B9;
}

.six {
    background: #9B59B6;
}

.seven {
    background: #8E44AD;
}

.eight {
    background: #34495E;
}

.nine {
    background: #2C3E50;
}

.ten {
    background: #22313f;
}

.eleven {
    background: #F1C40F;
}

.twelve {
    background: #F39C12;
}

.thirteen {
    background: #E67E22;
}

.fourteen {
    background: #D35400;
}

.fifteen {
    background: #E74C3C;
}

.sixteen {
    background: #C0392B;
}

.seventeen {
    background: #ECF0F1;
}

.seventeen.clouds {
    color: #BDC3C7;
}

.eighteen {
    background: #BDC3C7;
}

.nineteen {
    background: #95A5A6;
}

.twenty {
    background: #7F8C8D;
}

.date-label{
    transform: translateY(-14px) scale(0.8) !important;
    transform-origin: 0 0 !important;
}

.top-bar{
    background-color: #00bcd4;
    padding: 20px;
}
.main-wrapper ,
.thanku-wrapper{
    height: 100%;
}
.thanku-wrapper{
    height: calc(100% - 88px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0 20px;
}
.thanku-wrapper-inner{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    background: #eeeeee;
    padding: 40px 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    -webkit-box-shadow: 0px 3px 22px -1px rgba(117,109,117,1);
    -moz-box-shadow: 0px 3px 22px -1px rgba(117,109,117,1);
    box-shadow: 0px 3px 6px -1px rgb(161, 157, 161);
    border-radius: 10px;
    text-align: center;
}
.thanku-wrapper-inner img{
    max-width: 100px;
}
.thanku-wrapper-inner p{
    margin: 0;
    padding: 10px 0;
}
.chart-wrapper h3{
    text-align: center;
}

a.btn.waves-effect.waves-light.blue.accent-2{
    min-width: 17px;
    margin-bottom: 3px;
}
/*Custom Navbar*/
.navbar-btn {
    background-image: url("../../../assets/images/icons/back.png");
    background-repeat: no-repeat;
    padding: 24px;
    background-size: 60%;
    background-position: center;
    background-color: #fff;
    position: absolute;
    z-index: 9999;
    top: 50%;
    transform: translateY(-50%);
    left: 190px;
    border-radius: 100%;
    cursor: pointer;
}
.navbar-btn i {
    font-size: 30px;
    color: #168dcc;
    transition: all .3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rotate-btn{
    background-image: url("../../../assets/images/icons/forward.png");
}
nav.navbar-color.primary-bg-color.custom-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 25px;
}
.custom-brand-sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-brand-sidebar a img{
    max-width: 100px;
}
.custom-nav-header .nav-wrapper ul.right.hide-on-med-and-down{
    float: none !important;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.custom-nav-header .nav-wrapper ul.right.hide-on-med-and-down li a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-nav-header .nav-wrapper ul.right.hide-on-med-and-down .avatar-status{
    line-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}
i.green-dot {
    bottom: 0;
}
.custom-nav-header .nav-wrapper ul.right.hide-on-med-and-down .avatar-status img{
    width: 28px;
}
nav .nav-wrapper i{
    line-height: inherit;
}
#left-sidebar-nav{
    left: auto !important;
    width: auto !important;
}
.custom-sidebar aside#left-sidebar-nav {
    width: 0 !important;
    left: 0 !important;
    transition: all .3s ease;
}
.custom-sidebar ul#slide-out {
    transform: translateX(-240px);
    width: 0;
}
.custom-sidebar div#main,
.custom-sidebar footer{
    padding-left: 0;
    transition: all .3s ease;
}

/*Media Queries*/
@media all and (max-width: 1279px){
    .dataTables_wrapper{
        overflow: hidden;
        overflow-x: scroll;
    }

    .hide-on-large-only{
        display: none;
    }
}
@media all and (max-width: 1023px){
    .custom-nav-header .hide-on-med-and-down{
        display: flex !important;
    }
}

@media all and (max-width: 991px) {
    .brand-sidebar .logo-wrapper a.navbar-toggler {
        display: block;
    }

    aside .brand-sidebar .logo-wrapper {
        padding: 16px 10px;
    }

    .left-sidebar-content .brand-sidebar {
        left: 0;
    }

    ul.side-nav.leftside-navigation {
        transform: translateX(0);
    }
}
@media all and (max-width: 767px ){
    .thanku-wrapper-inner img{
        max-width: 50px;
    }
}
@media all and (max-width: 576px ){
    .thanku-wrapper-inner {
        padding: 30px 20px;
    }
}

