/*================================================================================
	Item Name: Materialize - Material Design Admin Template
	Version: 4.0
	Author: PIXINVENT
	Author URL: https://themeforest.net/user/pixinvent/portfolio
================================================================================

NOTE:
------
PLACE HERE YOUR OWN CSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*-- bluish color background --*/
.primary-bg-color{
    background-color: #158DCC;
}
/*-- greenish color background --*/
.secondary-bg-color{
    background-color: #afcb36;
}
/*-- bluish button color background --*/
.primary-btn-bgcolor{
    background-color: #158DCC;
}
/*-- greenish button color background --*/
.secondary-btn-bgcolor{
    background-color: #afcb36;
}


/*-- Custom CSS --*/

.left-sidebar-content .brand-sidebar {
    background: #158DCC !important;
}

.left-sidebar-content .brand-sidebar .logo-wrapper a.brand-logo {
    display: block;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}
.left-sidebar-content .brand-sidebar .logo-wrapper a.brand-logo img {
    height: auto;
    width: 100%;
}


/* Custom Admin Panel*/
ul#slide-out li ul.collapsible li:first-child a:after {
    display: none;
}

ul#slide-out li ul.collapsible li:last-child a:after {
    display: none;
}
/* Custom Admin Panel*/
.dataTables_wrapper .waves-effect{
    display: inline-block;
    padding: 0 10px;
}
.dataTables_wrapper .waves-effect i{
    font-size:16px;
}
.dataTables_wrapper .form-inline{
    display: inline-block;
}

.dataTables_wrapper .btn.red{
    padding: 0 11.5px;
}
.dataTables_wrapper .btn.red i{
    font-size: 16px;
}
.box-image img{
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
}

h6.custom-label {
    color: #9e9e9e;
    padding-bottom: 10px;
}
