.top-bar{
	background-color: #00bcd4;
	padding: 20px;
}
.main-wrapper , 
.thanku-wrapper{
	height: 100%;
}
.thanku-wrapper{
	height: calc(100% - 88px);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
    padding: 0 20px;
}
.thanku-wrapper-inner{
	max-width: 600px;
    margin: 0 auto;
    width: 100%;
    background: #eeeeee;
    padding: 40px 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    -webkit-box-shadow: 0px 3px 22px -1px rgba(117,109,117,1);
    -moz-box-shadow: 0px 3px 22px -1px rgba(117,109,117,1);
    box-shadow: 0px 3px 6px -1px rgb(161, 157, 161);
    border-radius: 10px;
    text-align: center;
}
.thanku-wrapper-inner img{
    max-width: 100px;
}
.thanku-wrapper-inner p{
	margin: 0;
	padding: 10px 0;
}
@media all and (max-width: 767px ){
    .thanku-wrapper-inner img{
        max-width: 50px;
    }
}
@media all and (max-width: 576px ){
    .thanku-wrapper-inner {
       padding: 30px 20px;
    }
}
    